*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    margin: 0px;
}

header{
    margin: 0px;
    background-color: black;
    color: white;
    font-size: x-large;
    font-weight: 550;
    height: 80px;
    display: grid;
}

.inic{
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0px;
    padding: 25px 10px 10px 10px;
}
.head:nth-child(1){
    margin: 0px 0px 0px 50px;
}

.head:nth-child(4){
    margin: 0px 0px 0px 700px;
}

.head{
    display: inline;
}

.cle{
    text-decoration: none;
    color: white;
}

.titulo{
    display: inline;
    color: #67C1EC;
}
.white{
    color: black;
    font-size: 40px;
}

.posicion{
    padding: 50px 0px 0px 150px;
}
.submit{
    background-color: #F9B630;
    border-radius: 5px;
    border-width: 0.1px;
    height: 30px;
    font-size: 20px;
}

.sub{
    padding-left: 150px;
    display: flex;
    flex-direction: row;
}

.imj{
    visibility: hidden;
}

.cuerpo{
    display: block;
    border: 1px;
    border-color: blueviolet;
    position: absolute;
    background-color: #7BBC53;
}

.hijito{
    position: absolute;
    display: none;
    padding-left: 500px;
    width: 1500px;
}

.hijote{
    position: absolute;
    display: none;
    padding-left: 500px;
    width: 1500px;
}

.temp{
    height: 50px;
    width: 500px;
    background-color: #FAB9AC;
    margin: 35px 10px 0px 150px;
    display: inline-flex;
    align-items: center;
    gap: 7px;
}

.contenido_tareas{
    margin: 0px;
}

.icon{
    padding-left: 10px;
}

.txt{
    color: black;
    font-weight: 550;
}

.cjng{
    display: inline-block;
    size: 45;
}

.lklk{
    margin-left: 45px;
}

.klx{
    display: inline;
    width: 30px;
}

.foot{
    display: flex;
    gap: 25px;
    margin: 0px 0px 0px 100px;
    padding: 10px 0px 0px 0px;
}

footer{
    margin: 120px 0px 0px 0px;
    height: 172px;
    background-color:#494953;
}

.cop{
    margin: 0px 0px 0px 100px;
    padding: 10px 0px 0px 0px;
}

.reg{
    margin: 0px 0px 0px 150px;
    padding: 10px 0px 0px 0px;
}

.jkñ{
    display: none;
}
@media only screen and (max-width: 600px){
    .inic{
        display: none;
    }
    .reg{
        margin: 10px 0px 0px 20px;
        padding: 0px 0px 0px 0px;
    }

    .posicion{
        margin: 10px 0px 0px 20px;
        padding: 0px 0px 0px 0px;
    }

    .sub{
        margin: 10px 0px 0px 20px;
        padding: 0px 0px 0px 0px;
    }

    .foot{
        margin: 20px 0px 0px 20px;
    }

    .cop{
        margin: 10px 0px 0px 20px;
    }

    .jkñ{
        display: block;
        margin: 20px 0px 0px 310px;
    }

    .hijito{
    position: absolute;
    padding-left: 20px;
    padding-top: 10px;
    width: 200px;
    }
    .lklk{
        margin-left: 10;
    }
    .res{
        display: flex;
        flex-direction: column;
        width: 3rem;
        height: 3rem;
        border: 0;
        background: transparent;
        gap: .65rem;
    }

    .res > div{
        background: white;
        height: 2px;
        width: 100%;
        border-radius: 5px;
    }

}